.clear-btn {
  display: flex;
  flex: 1;
  height: 77px;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 28px;
  outline: 1px solid rgb(17, 17, 17);
  background-image: linear-gradient(  #134e5e, #71b280);
}
